In [ ]:
pip install pandas

In [17]:
import pandas as pd
path_to_Databases = "C:/Users/andre/OneDrive/Escritorio/Universidad/DM/DataSetts/Proyecto/"
# Especifica la ruta completa del archivo CSV o una URL
path_name_basics_tsv = path_to_Databases+"name_basics.tsv" 
path_title_basics_tsv = path_to_Databases+"title_basics.tsv"
#path_title_crew_tsv = path_to_Databases+"title_crew.tsv" #crew esta descartada 
path_title_principals_tsv = path_to_Databases+"title_principals.tsv"
path_title_ratings_tsv = path_to_Databases+"title_ratings.tsv"

In [18]:
# Carga el archivo CSV en un DataFrame
df_name_basics = pd.read_csv(path_name_basics_tsv, delimiter='\t')

df_title_basics = pd.read_csv(path_title_basics_tsv, delimiter='\t')

df_title_principals = pd.read_csv(path_title_principals_tsv, delimiter='\t')

df_title_ratings = pd.read_csv(path_title_ratings_tsv, delimiter='\t')

C:\Users\andre\AppData\Local\Temp\ipykernel_20852\1183252528.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv(path_title_basics_tsv, delimiter='\t')

In [19]:
#limpiando la base de datos title_basis
del df_title_basics['originalTitle']
del df_title_basics['isAdult']
del df_title_basics['endYear']
#limpiando todo lo que no son peliculas
df_title_basics  = df_title_basics[(df_title_basics['titleType']== 'movie') | (df_title_basics['titleType'] == 'tvMovie')]
#se elimina el type ya que todo son peliculas
del df_title_basics['titleType']

In [ ]:
#uniendo la tabla title_basics con la tabla title_ratings
title_complete = pd.merge(df_title_basics,df_title_ratings,on = 'tconst',how='inner')

In [20]:
title_complete

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,Miss Jerry,1894,45,Romance,5.3,205
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",5.3,480
2,tt0000502,Bohemios,1905,100,\N,4.1,15
3,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",6.0,843
4,tt0000591,The Prodigal Son,1907,90,Drama,4.4,20
...,...,...,...,...,...,...,...
346786,tt9916362,Coven,2020,92,"Drama,History",6.4,5486
346787,tt9916428,The Secret of China,2019,\N,"Adventure,History,War",3.6,16
346788,tt9916460,Pink Taxi,2019,\N,Comedy,9.4,18
346789,tt9916538,Kuambil Lagi Hatiku,2019,123,Drama,8.6,7
346790,tt9916730,6 Gunn,2017,116,Drama,8.3,10

In [21]:
#eliminando las columnas inecesarias de title_principals 
del df_title_principals['job']
del df_title_principals['characters']
#se quitaron los datos que no nos interaban de category
df_title_principals = df_title_principals[(df_title_principals['category']== 'self') 
                    |(df_title_principals['category'] == 'director') 
                    |(df_title_principals['category'] == 'actor')
                    |(df_title_principals['category'] == 'actress')
                    ]

In [22]:
#se elimina las columnas inesesaria 
del df_name_basics['primaryProfession']
del df_name_basics['knownForTitles']
#se cambia el tipo de muerte a un booleano y se agrega en una nueva columna
df_name_basics['isDead'] = df_name_basics['deathYear'].ne('\\N')
#se elimina la antigua columna que ahora esta obsoleta
del df_name_basics['deathYear']

In [23]:
principals_complete = pd.merge(df_name_basics,df_title_principals,on = 'nconst',how='inner')
principals_complete = principals_complete[(principals_complete['tconst'].isin(title_complete['tconst'])) ]

In [24]:
principals_complete

,nconst,primaryName,birthYear,isDead,tconst,ordering,category
0,nm0000001,Fred Astaire,1899,True,tt0025164,1,actor
1,nm0000001,Fred Astaire,1899,True,tt0026942,2,actor
2,nm0000001,Fred Astaire,1899,True,tt0027125,1,actor
3,nm0000001,Fred Astaire,1899,True,tt0027630,1,actor
4,nm0000001,Fred Astaire,1899,True,tt0028333,1,actor
...,...,...,...,...,...,...,...
39305301,nm9993693,Apsara Rani,1996,False,tt12856788,4,actress
39305302,nm9993693,Apsara Rani,1996,False,tt25385692,2,actress
39305304,nm9993693,Apsara Rani,1996,False,tt9815360,2,actress
39305307,nm9993694,Chinmay Mishra,\N,False,tt18361688,5,director
39305308,nm9993694,Chinmay Mishra,\N,False,tt18687502,5,director

In [30]:
ruta_carpeta =  "C:/Users/andre/OneDrive/Escritorio/Universidad/DM/DataSetts/Proyecto"
title_complete_csv = "title_complete_csv.csv" 
ruta_completa = f'{ruta_carpeta}/{title_complete_csv}'
title_complete.to_csv(ruta_completa,index=False)

In [31]:
ruta_carpeta =  "C:/Users/andre/OneDrive/Escritorio/Universidad/DM/DataSetts/Proyecto"
principals_complete_csv = "principals_complete_csv.csv" 
ruta_completa = f'{ruta_carpeta}/{principals_complete_csv}'
principals_complete.to_csv(ruta_completa,index=False)

In [ ]:
print(title_complete_csv)